*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}

.container{
    position:fixed;
    right: -883px;
    width:883px;
    height:100%;
    display:flex;
}

.aside{
    width: 241.5px;
    height:100%;
    background:#fafafa; 
}
.aside nav{
    margin-top:43px;
    margin-left:37px;
}
.aside nav ul{
    list-style-type:none;
    height: 20px;
    padding:10px 10px 6px 0px;
}
.aside nav ul li{
    height:100%;
    padding:10px 0 10px 0;
}
.aside nav button{
    padding:0;
}
/* .aside nav ul li{
    width:200px;
} */
.aside nav ul li:hover{
    background:#e5f3fe;
    border-radius: 15px 15px;
    /* padding-left: 10px; */
}
.aside nav ul li:hover >button{
    color:#3393fe;
}
.aside nav button{
    border:none;
    background:none;
}
.main{
    width: 639px;
    height:100%;
    background:#ffffff; 
    display:flex;
}

.article{
    margin-left:33.5px;
}
.article p {
    font-size:20px;
    line-height:25px;
    margin-bottom:33px;
}
.main h1{
    line-height: 30px;
    margin-top:43px;
    font-size:38px;
}
.video{
    width:570px;
    margin-bottom:193px;
}

.form{
    text-align:center;
}
.form h2{
    font-weight:bold;
    font-size: 17px;
    margin-bottom:16px;
}

.fa-align-justify{
    color:black;
    font-size:30px;
    cursor:pointer;
}

