*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}

.container{
    position:fixed; 
    right: -924px; 
    width:924px;
    height:100%;
    display:flex;
    transition: all 1s ease-in-out;
}
.show{
    position:fixed;
    right:0;
}
.show-button{
    position:absolute;
    top: 0px;
    left:0px;
}

.aside{
    width: 241.5px;
    height:100%;
    background:#fafafa; 
    border-right: 1px solid #ededed;
}
.aside nav{
    height:100%;
    margin-top:35px;
    margin-left:30px;
}
.aside nav ul{
    height: 100%;
    list-style-type:none;
}
.aside nav ul li{
    height: 20px;
    width:  180px;
    padding:0 0 12px 10px;
    margin-bottom:1px;
}
.aside nav button{
    padding:0;
    line-height:30px;
}
/* .aside nav ul li{
    width:200px;
} */
.aside nav ul li:hover{
    background:#e5f3fe;
    border-radius: 15px 15px;
    /* padding-left: 10px; */
}
.aside nav ul li:active{
    color:red;
}
.aside nav ul li:hover >button{
    color:#3393fe;
}
.aside nav button{
    border:none;
    background:none;
}
.main{
    width: 639px;
    height:100%;
    background:#ffffff; 
    display:flex;
}

.paragraph{
    width: 570px;
}
.article{
    margin-left:33.5px;
    overflow-y: auto;
}
.article p {
    font-size:16px;
    line-height:25px;
    margin-bottom:20px;
}
.main h1{
    line-height: 30px;
    margin-top:38px;
    font-size:38px;
}
.video{
    width:570px;
    
}

.form{
    margin-top:193px;
    text-align:center;
    display:block; 
}
.hide-form{
   display:none;
}
.show-form{
    display:block;
}
.form-submit h1{
    margin: 28px 0px 20px 0px;
    font-size: 30px;
}
.form-submit input{
    height: 49px;
    width:567px;
}

.form-submit textarea{
    margin: 15px 0;
    height:198px;
    width: 567px;
    resize:none;
}
.form-submit button{
    display:block;
    height:48px;
    width:567px;
    background: #02cf01;
    color:#ffffff;
    font-size:20px;
    cursor:pointer;
}
.form button{
    color:#4add49;
    border:none;
    background: #eafbe9;
    padding: 16px 58px;
    border-radius: 25px 25px;
    cursor:pointer;
}

button{
    outline:none;
    cursor:pointer
}
.form h2{
    font-weight:bold;
    font-size: 17px;
    margin-bottom:16px;
}

.fa-align-justify{
    color:black;
    font-size:30px;
    cursor:pointer;
}

.fa-times{
    width:43px;
    height:41px;
    background:#fa7e7c;
    text-align:center;
    line-height: 40px;
    color: #ffffff;
    cursor:pointer;
}

.setUpPages, .setUpShop,
.blocksSidebars, .setUpShop,
.staticBlocks, .navigation,
.themeOptions, .visualComposer,
.troubleShooting, .customisations,
.faq{
    display:none
}

.showParagraph{
    display:block;
}
.hideParagraph{
   display:none;
}


@media (max-height: 700px), (max-width: 960px) {
    
}

